.container {
  width: 400px;
  border: 3px solid #000000;
  border-radius: 8px;
  margin: 0 auto;
}
.info {
  padding: 10px 50px;
}
.avatar {
  width: 200px;
  height: 200px;
  padding: 1px;
  background-color: #383737;
  border-radius: 50%;
}
.title {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
}
.gray {
  font-size: 20px;
  color: #808080;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3px;
  border-top: 3px solid #808080;
  margin: 0;
  padding: 0;
  background-color: #b9b8b8;
  border-radius: 0 0 8px 8px;
  font-size: 20px;
  color: #000000;
}
.item {
  display: flex;
  width: calc((100% - 9px) / 3);
  flex-direction: column;
  padding: 15px;
  gap: 3px;
  border-right: 3px solid #808080;
}
.status_info {
}
.status_data {
  font-weight: 700;
}
.item:last-child {
  border-right: none;
}
